body {
  background-color: white;
}

.category:first-letter {
  text-transform: capitalize;
}

.category {
  font-weight: bold;
}

.cost {
  font-weight: bold;
}

.effect {
  font-weight: bold;
}

.effect:first-letter {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

h5,
h3 {
  text-transform: capitalize;
}
