body {
  background-color: white;
}

/* Overwriting bootstrap style for the button color */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
}

.category:first-letter {
  text-transform: capitalize;
}

.category {
  font-weight: bold;
}

.cost {
  font-weight: bold;
}

.effect {
  font-weight: bold;
}

.effect:first-letter {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

h5,
h3 {
  text-transform: capitalize;
}
