:root{
    overflow-x:hidden ;
}
#card-container  {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.pokemonImage {
   border-radius: 1em;
}

.pokemonTitle {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-evenly;
   
   
}
.pokemonTitle p {
    font-weight: 700;
    
}

#container {
    background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    
}

.bootstrapButton {
    background-color: yellow;
}

.bootstrap-container {
   margin: 0 auto;
}

#card-body {
    background-color: rgba(243,183,56,1);
   
}

#cardDetails {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 1em;
}

.pokemonList{
    display: flex;
    flex-direction: column;
    gap: 5em; 
    
    
}

.abilities-flex-container{
display: flex;
justify-content: space-around;    

}
.division-line {
    border-top: 1px solid black; 
}

.abilities-flex-container span {
    font-weight: bold;
}
.abilities-flex-container button {
    background-color:red;
}

.pokemonOrder {
    display: flex;
    justify-content: space-around;
}


/* .titleSpan{
    margin-left: 5em;
} */

#cardBody{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #4ea8d7;
    border-radius: 1em;
    color:white;
    font-size: 1.5rem;
    

    
}

#cardBody h1{
    margin: 1em;
}

@media(max-width:500px) {
    #cardBody {
        flex-direction: column;
    }
}

#card-title {
    background-color: red;
    color: black;
    border:2px solid black;
    margin-bottom: 0.25em;
  
    
}

#pokemon-evolution-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

@media(max-width:1000px){
    #pokemon-evolution-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    #pokeball{
        margin-left: 3em;
        display: none;
    }
    
}

#evolution-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex:1;
    border:1px solid purple;
    
    
    background-color: #616161;
    border-radius: 8%;
    color:white;
    font-weight: lighter;
    width:100%;
     height: 100%;
     margin-top: 1em;;
     
   
    
    
}





.types{
    color:white;
    margin-top: 1em;
}

#evolution-image img {
    
    width: 45%;
    height: 45%;
    object-fit: cover;
   
}

#pokeball{
    margin-left: 3em;
}


/* #evolution-image-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* #evolution-box img {
width: 100%;
height: 100%;
object-fit: cover;
} */

/* 
@media only screen and (max-width: 600px)  {
    #pokemon-evolution-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
      } */
#form{
    font-weight: lighter;
    font-family: 'Lato';
    letter-spacing: 0.1em;
    
}

#form-box {
    background-color:lightyellow;
    border-radius: 30px;
    margin-bottom: 0.85em;
    padding: 0.5em;
}

#evolution-title{
    font-weight: bold;
    width: 80%;
    margin:0 auto;
    
    margin-top: 1em;
    letter-spacing: 0.1em;
    color: black;
    border-radius: 0.785em;
    border:1px solid black;
    background-color: #f3b738;
    
}