#card-container  {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.pokemonImage {
   border-radius: 30px;
}

.pokemonTitle {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-evenly;
   
   
}
.pokemonTitle p {
    font-weight: 700;
    
}

#container {
    background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    
}

.bootstrapButton {
    background-color: yellow;
}

#card-body {
    background-color: rgba(243,183,56,1);
   
}

#cardDetails {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 1em;
}

.pokemonList{
    display: flex;
}

.abilities-flex-container{
display: flex;
justify-content: space-around;    

}
.division-line {
    border-top: 1px solid black; 
}

.abilities-flex-container span {
    font-weight: bold;
}
.abilities-flex-container button {
    background-color:red;
}

.pokemonOrder {
    display: flex;
    justify-content: space-around;
}


.titleSpan{
    margin-left: 5em;
}

#cardBody{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #4ea8d7;
    border-radius: 1em;
    color:white;
    margin-top: 1em;
    font-size: 1.5rem;
    
}

#pokemon-evolution-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#evolution-box {
    border:1px solid purple;
    padding: 1em;
    background-color: #616161;
    border-radius: 10%;
    
    
}

#evolution-box img {
    width: 75%;
}